<footer class="pmd-footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-auto align-self-center">
          <div class="pmd-social-icons mb-2 mb-lg-0">
            <span class="pmd-footer-sub-title">Follow Us On</span>
            <a href="https://www.linkedin.com/in/jawahar-reddy-duddukunta-78622a249/">
                <button type="button" class="pmd-ripple-effect pmd-btn-fab pmd-btn-raised" color="dark" size="sm">
                    <i class="fab fa-linkedin"></i>
                  </button>
                
             
            </a>
            <a href="https://github.com/Jawahar83">
                <button type="button" class="pmd-ripple-effect pmd-btn-fab pmd-btn-raised" color="dark" size="sm">
                    <i class="fab fa-github"></i>
                  </button>
            </a>
            <a href="https://www.instagram.com/">
                <button type="button" class="pmd-ripple-effect pmd-btn-fab pmd-btn-raised" color="dark" size="sm">
                    <i class="fab fa-instagram"></i>
                  </button>
            </a>
          </div>
        </div>
        <div class="col-md">
          <div class="text-md-right text-left">
            <p>Developed by Jawahar reddy: <br> Mail to: <a href="mailto:duddukuntajawaharreddy@gmail.com" style="color: burlywood;">duddukuntajawaharreddy@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <style>
    .fab { font-weight: 900; }
  </style>
  
  <!-- Include fontawesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">